#include <windows.h>
#include "main.h"

501 MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open...", IDM_FILEOPEN
		MENUITEM SEPARATOR
		MENUITEM "&Save", IDM_FILESAVE
		MENUITEM "Save &as...", IDM_FILESAVEAS
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_FILEEXIT
	END

	POPUP "&Tools"
	BEGIN
		MENUITEM "&hmm", IDM_TOOL
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents", IDM_HELPCONTENTS
		MENUITEM SEPARATOR
		MENUITEM "&About...", IDM_HELPABOUT
	END
END
