#include <Windows.h>
#include "main.h"

501 MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open...", IDM_FILEOPEN
		MENUITEM SEPARATOR
	//	MENUITEM "&Save", IDM_FILESAVE
	//	MENUITEM "Save &as...", IDM_FILESAVEAS
	    MENUITEM "&Close", IDM_FILECLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_FILEEXIT
	END

	POPUP "&Windows"
	BEGIN
		MENUITEM "Image", IDM_IMAGEWINDOW
		MENUITEM "Tools", IDM_TOOLSWINDOW
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents", IDM_HELPCONTENTS
		MENUITEM SEPARATOR
		MENUITEM "&About...", IDM_HELPABOUT
	END
END
