
  h1 { font-size: 24pt;
    font-weight: bold;
    font-family: verdana,arial;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    }

  h2 { font-family: verdana,arial;
    font-size: 18pt;
    font-weight: bold;
    }

  h3 { font-family: verdana,arial;
    font-weight: bold;
    font-size: 12pt;
    font-style: normal;
    }

  h4 {
    font-family: verdana,arial;
    font-weight: normal;
    font-size: 12pt;
    font-style: italic;
    }

  /* default font */
  * { font-family: verdana,arial;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    }

  /* styles for Table Of Contents */
  ol.h1 { font-family: verdana,arial;
    font-size: 24pt;
    font-weight: bold;
    }

  ol.h2 { font-family: verdana,arial;
    font-size: 18pt;
    font-weight: bold;
    }

  ol.h2 li { font-family: verdana,arial;
    font-size: 18pt;
    font-weight: bold;
    }

  ol.h3 li { font-family: verdana,arial;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    }

  table {
    border-color: #000000;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
	}
	
  th {
	font: bold 16px verdana,arial;
	text-transform: uppercase;
	color: #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #3399CC;
	}
	
  td {
	font: normal 12px verdana,arial;
	color: #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #66CCFF;
	}