#include <Windows.h>
#include "resources.h"

501 MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open Image...", IDM_FILEOPEN
		MENUITEM SEPARATOR
	//	MENUITEM "&Save", IDM_FILESAVE
	//	MENUITEM "Save &as...", IDM_FILESAVEAS
	    MENUITEM "&Close Image", IDM_FILECLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_FILEEXIT
	END

	POPUP "&Windows"
	BEGIN
		MENUITEM "Image", IDM_IMAGEWINDOW
		MENUITEM "Tools", IDM_TOOLSWINDOW
		MENUITEM "ROIs", IDM_ROIWINDOW
		MENUITEM "Preferences", IDM_PREFSWINDOW
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&How to use Parbat3D", IDM_HELPCONTENTS
		MENUITEM SEPARATOR
		MENUITEM "&About Parbat3D...", IDM_HELPABOUT
	END
END
